#login{
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7rem;
  background-color: rgba(255,255,255,0.8);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22)

}
.spinner{
  margin-top:15%;
  margin-left: auto;
  margin-right: auto;
}

.btn{
  margin-right: 0.5rem;
  //background-color: rgb(212,173,194);
  //background-color:#d4adc2bf;
  background-color: rgb(211 180 185 / 63%);
  border: none;
  border-radius: 0.5rem;
  width: 12rem;
  height: 3.5rem;

}

small{
  margin: 1rem;
  color:black;
}

input{
  &.ng-invalid.ng-touched{
    border: 1px solid red;
  }
  &.ng-valid.ng-touched{
    border: 1px solid green;
  }
}

small{
  //margin: 1rem;
  margin: 0;
  color:red;
}

.btn{
  //text-align: center;

}
