
.mat-h3, .mat-subheading-2, .mat-typography h3 {
  font-family: 'Roboto', sans-serif;
}

.choose_date
{
  height: 50px;
  //background: white;
  display:flex;
  flex-direction: row;
  justify-content: center;
}

/*
.date_input
{
  height: 20px;
  padding-right: 20rem;
}
*/

//.mat-form-field-appearance-fill .mat-form-field-flex {
//  border-radius: 4px 4px 0 0;
//  padding: .75em .75em 0 46.75em;
//}
.card-header-tabs
{
  margin: auto;
  color: black;
  //background-color: #ca583a;
  //background-color: rgba(245,136,149,0.41);
  //background-color: rgb(229,207,220);
  background-color: rgb(212,173,194);
  border-radius: 5px;
  min-height: 30px;
  padding-left: 46%;
}




