<script src="../projects/projects.component.ts"></script>
<app-navbar></app-navbar>
<h3 class="card-header-tabs">Главная страница</h3>

<div class="choose_date">
<app-selector></app-selector>
  <div class="date_input">
  <mat-form-field class="date_input"  color="accent" appearance="fill">
    <mat-label class="date_input">Выберите другую дату</mat-label>
    <input class="date_input" matInput [matDatepicker]="picker1"  (dateInput)="select($event)" (dateChange)="select($event)">
    <mat-datepicker-toggle class="date_input" matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker class="date_input" #picker1></mat-datepicker>
  </mat-form-field>
  </div>
</div>

<app-add-t-category #ttt></app-add-t-category>

<!--<a link="projects" class="nav-link"  >Календарь</a>-->
<!--<a routerLink="projects" class="nav-link" (click)="show_projects()">Проекты</a>-->
<!--<a link ="#"  class="nav-link" (click)="statistics()">Статистика</a>-->

<!--<p><app-calendar></app-calendar></p>-->
<div class = "section">
  <div class="section_header">
    Настроение за день
      <div class="section_button">
      <a class="medium material-icons section_button">add</a>
  </div>
  </div>
  <div>
    <table *ngIf="moods.length">
      <thead>
      <tr>
        <th>№</th>
        <th>Текущее настроение</th>
        <th>Дата время </th>
        <th>Причина</th>
        <th>Возможные способы исправления</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let mood of moods; let i = index">
        <strong>{{i + 1}}</strong>
        <td>{{mood.cur_mood}}</td>
        <td>{{mood.date}}</td>
        <td>{{mood.reason}}</td>
        <td>{{mood.what_to_do}}</td>
        <button class="btn" (click)="remove_M(mood)">Удалить</button>
      </tr>
      </tbody>
    </table>



    <form (ngSubmit)="submit_M()" [formGroup]="formMoods">

      <mat-form-field appearance="fill">
        <mat-label>Выбери настроение</mat-label>
        <mat-select [(value)]="selected" formControlName="cur_mood" >
          <mat-option *ngFor="let one_mood of categories_moods" [value]="one_mood.mood" >
            {{one_mood.mood}}
          </mat-option>
        </mat-select>
      </mat-form-field>
<!--      <input type="text" class="input-group" formControlName="cur_mood" placeholder="Добавить настроение">-->
      <input type="text" class="input-group" formControlName="reason" placeholder="Добавить причину настроения">
      <input type="text" class="input-group" formControlName="what_to_do" placeholder="Действия для предотвращения ситуации">

      <button
        type="submit"
        class="btn btn-block"
      >Добавить</button>

    </form>
  </div>
</div>

<div class = "section">

  <div class="section_header">
    Мысли, идеи
    <div class="section_button">
      <a class="material-icons">add</a>
  </div>
  </div>


      <div>
<!--        <table>
&lt;!&ndash;          <thead>
          <tr>
            <th>№</th>
            <th>Название проекта</th>
            <th>Категория проекта</th>
            <th>Дата</th>
            <th>Краткое описание</th>
            <th>Действие</th>
            <th>Заняло по времени</th>
          </tr>
          </thead>&ndash;&gt;
          <tbody>-->

      <table *ngIf="thoughts.length; else noThoughts">
        <thead>
        <tr>
          <th>№</th>
          <th>Тема для размышления</th>
          <th>Категория размышлений</th>
          <th>Описание размышлений</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let thought of thoughts; let i = index">
          <strong>{{i + 1}}</strong>
          <td>{{thought.title}}</td>
          <td>{{thought.category}}</td>
          <td>{{thought.o_thought}}</td>
          <button class="btn" (click)="remove_T(thought)">Remove</button>
        </tr>
        </tbody>
      </table>



<!--        <mat-form-field appearance="fill">
          <mat-label>Выбери настроение</mat-label>
          <mat-select>
            <mat-option *ngFor="let one_t_cat of thoughtCategories" >
              {{one_t_cat.t_category}}
            </mat-option>
          </mat-select>
        </mat-form-field>-->



        <form  (ngSubmit)="submit_T()" [formGroup]="formThoughts">
          <input type="text" class="input-group" formControlName="title" placeholder="Добавить тему для размышлений">
            <mat-form-field class="example-full-width">
              <mat-label>Выбери тему для размышления</mat-label>
              <label>
                <input type="text" formControlName="category" matInput [formControl]="myControl_t" [matAutocomplete]="auto2">
              </label>

              <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn">
                <mat-option (click)="ttt.isVisible=!ttt.isVisible">Добавить тему для размышления...</mat-option>
                <mat-option *ngFor="let option of filteredThoughts | async" [value]="option.t_category">
                  {{option.t_category}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
  <!--      <input type="text" class="input-group" formControlName="category" placeholder="Добавить категорию">-->
        <input type="text" class="input-group" formControlName="o_thought" placeholder="Добавить мысль">
        <button
          type="submit"
          class="btn btn-block">Добавить</button>
       <!--  [disabled]="formThoughts.invalid"-->

      </form>
<!--        <div class="footer input-group mb-3">
          <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">

        </div>
      </div>-->
</div>
</div>

<div class = "section">
  <div class="section_header">
    Информация по проектам
    <div class="section_button">
    <a class="medium material-icons">add</a>
  </div>
  </div>
  <table *ngIf="projects.length; else noProjects">
    <thead>
    <tr>
      <th>№</th>
    <th>Название проекта</th>
    <th>Категория проекта</th>
    <th>Действия по проекту</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let project of projects; let i = index">
         <td> <strong>{{i + 1}}</strong></td>
          <td>{{project.title}}</td>
          <td>{{project.category}}</td>
          <td>{{project.action}}</td>

      <button class="btn" (click)="remove_P(project)">Remove</button>
    </tr>
    </tbody>
  </table>

<!--
  <mat-form-field appearance="fill">
    <mat-label>Выбери настроение</mat-label>
    <mat-select>
      <mat-option *ngFor="let one_category of projectCategories" >
        {{one_category.p_category}}
      </mat-option>
    </mat-select>
  </mat-form-field>
-->


  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Выбери тему для проекта</mat-label>
      <label>
        <input type="text" matInput [formControl]="myControl_c" [matAutocomplete]="auto">
      </label>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredCategories | async" [value]="option.p_category">
          {{option.p_category}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>


  <form (ngSubmit)="submit_P()" [formGroup]="formProjects">
    <input type="text" class="input-group" formControlName="title" placeholder="Добавить название проекта">
    <input type="text" class="input-group" formControlName="category" placeholder="Добавить категорию проекта">
    <input type="text" class="input-group" formControlName="action" placeholder="Добавить действие для проекта">
    <button
      type="submit"
      class="btn btn-block"
    >Add</button>
  </form>


</div>

<div class = "section">
  <div class="section_header">
     Прочее
    <div class="section_button">
      <a class="medium material-icons">add</a>
  </div>
  </div>
</div>

<section>
  <header>
    Organizer: <strong>{{dateService.date | async | moment:'DD.MM.YYYY'}}</strong>
    <hr />
  </header>
</section>

  <main>
    <ng-template #noThoughts>
      <p class="text-center">Новых мыслей пока нет...</p>
    </ng-template>

    <ng-template #noProjects>
      <p class="te  xt-center">Действий по проектам пока нет...</p>
    </ng-template>


    <ng-template #calendar>
      <app-calendar></app-calendar>
    </ng-template>


  </main>


