.card-header-tabs
{
  //background-color: rgb(212,173,194);
  //background-color: rgba(215,183,187,0.98);
  background-color: rgb(211 180 185 / 98%);
  //background-color:#dabbbb63;
  //background-color:#dabbbbc2;
  //background-color:#dabbbbc2;
  //box-shadow: inset 0px -14px 13px 0px rgba(0, 0, 0, 0.22);
  box-shadow: inset 0px 12px 13px 0px rgba(0, 0, 0, 0.22);
  //box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.22);
}
.choose_date
{
  margin-top: 2.0rem;
}



