.navbar-nav
{
  display:flex;
  flex-direction: row;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 3rem;
  overflow-y: hidden;
  padding: .5rem;
}

.navbar-nav .nav-link {
  padding-right: 5px;
  padding-left: 5px;
}

.footer
{
  min-width: 100rem;
}

.material-icons
{color: black}
