<table *ngIf="allProjects.length; else noProjects">
  <thead>
  <tr>
    <th>Название проекта</th>
    <th>Категория проекта</th>
    <th>Дата</th>
    <th>Краткое описание</th>
    <th>Действие</th>
    <th>Заняло по времени</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let allProject of allProjects let ii = index">
    <tr (click)="isCollapsed[ii] = !isCollapsed[ii]"
        [attr.aria-expanded]="!isCollapsed[ii]">
      <td>{{allProject.project.title}}</td>
      <td>{{allProject.project.category}}</td>
      <td>{{allProject.project.date_begin}}</td>
      <td></td>
      <td></td>
      <td>{{allProject.project.total_time}}</td>

    </tr>
    <tr *ngFor="let oneProject of allProject.projectAction; let i = index" [ngbCollapse]="isCollapsed[ii]">
      <td>{{oneProject.title}}</td>
      <td>{{oneProject.category}}</td>
      <td>{{oneProject.date}}</td>
      <td>{{oneProject.short_description}}</td>
      <td>{{oneProject.action}}</td>
      <td>{{oneProject.time}}</td>
    </tr>
  </ng-container>
  </tbody>
</table>


<ng-template #noProjects>
  <p>Проектов пока нет...
</ng-template>
