
<div class = "section container">
  <div class="section_header">
    Информация по проектам
    <div class="section_button">
      <a class="medium material-icons">add</a>
    </div>
  </div>
  <div class="section_body">
  <table *ngIf="projects.length; else noProjects">
    <thead>
    <tr>
      <th>№</th>
      <th>Название проекта</th>
      <th>Категория проекта</th>
      <th>Действия по проекту</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let project of projects; let i = index">
      <td> <strong>{{i + 1}}</strong></td>
      <td>{{project.title}}</td>
      <td>{{project.category}}</td>
      <td>{{project.action}}</td>

      <button class="btn" (click)="remove(project, 'project')">Удалить</button>
    </tr>
    </tbody>
  </table>


<!--  <form class="example-form">-->
    <mat-form-field class="example-full-width project_select">
      <mat-label>Выбери тему для проекта</mat-label>
      <label>
        <input type="text" matInput [formControl]="myControl_c" [matAutocomplete]="auto">
      </label>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredCategories | async" [value]="option.p_category">
          {{option.p_category}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
<!--  </form>-->


  <form (ngSubmit)="submit_P()" [formGroup]="formProjects">
     <label for = "title">Название проекта:</label>
    <input type="text" class="input-group" id = "title" formControlName="title" placeholder="Добавить название проекта">

    <div *ngIf="formProjects.get('title').invalid && formProjects.get('title').touched" class="validation">
      <small *ngIf="formProjects.get('title').errors.required">Введите название проекта</small>
    </div>

    <label for = "category">Категория проекта:</label>
    <input type="text" class="input-group" id = "category" formControlName="category" placeholder="Добавить категорию проекта">

    <label for = "action">Действие для проекта:</label>
    <input type="text" class="input-group" id = "action" formControlName="action" placeholder="Добавить действие для проекта">

    <div *ngIf="formProjects.get('action').invalid && formProjects.get('action').touched" class="validation">
      <small *ngIf="formProjects.get('action').errors.required">Введите действие для проекта</small>
    </div>

    <button
      type="submit"
      class="btn btn-block footer btn_add"
    >Добавить</button>
  </form>


<ng-template #noProjects>
  <p class="te  xt-center">Действий по проектам пока нет...</p>
</ng-template>
  </div>
</div>
