<div class = "section">

  <div class="section_header">
    Информация по проектам
    <div class="section_button">
      <a class="material-icons section_button" (click)="clicked()">add</a>
    </div>
  </div>

  <div class="section_body">
    <ng-template #data>
  <table *ngIf="projects.length; else noProjects">
    <thead>
    <tr>
      <th>№</th>
      <th>Название проекта</th>
      <th>Категория проекта</th>
      <th>Действия по проекту</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let project of projects; let i = index">
      <td aria-label="№"> <strong>{{i + 1}}</strong></td>
      <td aria-label="Название проекта">{{project.title}}</td>
      <td aria-label="Категория проекта">{{project.category}}</td>
      <td aria-label="Действия по проекту">{{project.action}}</td>
      <td aria-label="Удалить"><span class="material-icons mi-del" (click)="remove(project, 'projects')">delete</span></td>
    </tr>
    </tbody>
  </table>
    </ng-template>


<!--  <form class="example-form">-->
    <form *ngIf="is_clicked;else data" (ngSubmit)="submit()" [formGroup]="formProjects">
      <div class="form container">

        <label for = "title">Название проекта:</label>
        <input type="text" class="input-group" id = "title" formControlName="title" placeholder="Добавить название проекта">

        <div *ngIf="formProjects.get('title').invalid && formProjects.get('title').touched" class="validation">
          <small *ngIf="formProjects.get('title').errors.required">Введите название проекта</small>
        </div>

        <label for = "category">Категория проекта:</label>
        <input type="text" placeholder="Выбери категорию" id = "category" formControlName="category" [matAutocomplete]="auto">

    <mat-autocomplete #auto="matAutocomplete"> <!--  [displayWith]="displayFn">-->
        <mat-option *ngFor="let option of filteredCategories | async" [value]="option.category">
          {{option.category}}
        </mat-option>
      </mat-autocomplete>

    <label for = "action">Действие для проекта:</label>
    <input type="text" class="input-group" id = "action" formControlName="action" placeholder="Добавить действие для проекта">

    <div *ngIf="formProjects.get('action').invalid && formProjects.get('action').touched" class="validation">
      <small *ngIf="formProjects.get('action').errors.required">Введите действие для проекта</small>
    </div>
      </div>

    <button
      type="submit"
      class="btn btn-block footer btn_add"
    >Добавить</button>
  </form>


<ng-template #noProjects>
  <p class="text-center nodata">Действий по проектам пока нет...</p>
</ng-template>

  </div>
  <app-add-user-categories (getUserData)="getUserData($event)"></app-add-user-categories>

</div>
