
<div class = "section">
  <div class="section_header">
    Информация по проектам
    <div class="section_button">
      <a class="material-icons section_button" (click)="click()">add</a>
    </div>
  </div>

  <div class="section_body container">
    <ng-template #no_click>
  <table *ngIf="projects.length; else noProjects">
    <thead>
    <tr>
      <th>№</th>
      <th>Название проекта</th>
      <th>Категория проекта</th>
      <th>Действия по проекту</th>
<!--      <th>Удалить</th>-->
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let project of projects; let i = index">
      <td> <strong>{{i + 1}}</strong></td>
      <td>{{project.title}}</td>
      <td>{{project.category}}</td>
      <td>{{project.action}}</td>
      <td><span class="material-icons mi-del" (click)="remove(project, 'projects')">delete</span></td>
    </tr>
    </tbody>
  </table>
    </ng-template>


<!--  <form class="example-form">-->
    <form *ngIf="is_clicked;else no_click" (ngSubmit)="submit()" [formGroup]="formProjects">
      <div class="form">
<!--    <mat-form-field class="example-full-width project_select">-->
<!--      <mat-label>Выбери тему для проекта</mat-label>-->

<!--        <input type="text" matInput formControlName="category" [formControl]="myControl_c" [matAutocomplete]="auto">-->

<!--      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">-->
<!--        <mat-option *ngFor="let option of filteredCategories | async" [value]="option.p_category">-->
<!--          {{option.p_category}}-->
<!--        </mat-option>-->
<!--      </mat-autocomplete>-->
<!--    </mat-form-field>  -->
<!--        <mat-form-field class="example-full-width project_select">-->
<!--      <mat-label>Выбери тему для проекта</mat-label>-->

<!--          <form class="example-form">-->
            <label for = "category">Категория проекта:</label>
        <input type="text" placeholder="Выбери категорию" id = "category" formControlName="category" [matAutocomplete]="auto">

    <mat-autocomplete #auto="matAutocomplete"> <!--  [displayWith]="displayFn">-->
        <mat-option *ngFor="let option of filteredCategories | async" [value]="option.category">
          {{option.category}}
        </mat-option>
      </mat-autocomplete>
<!--          </form>-->
<!--    </mat-form-field>-->

<!--  </form>-->
     <label for = "title">Название проекта:</label>
    <input type="text" class="input-group" id = "title" formControlName="title" placeholder="Добавить название проекта">

    <div *ngIf="formProjects.get('title').invalid && formProjects.get('title').touched" class="validation">
      <small *ngIf="formProjects.get('title').errors.required">Введите название проекта</small>
    </div>

<!--    <label for = "category">Категория проекта:</label>-->
<!--    <input type="text" class="input-group" id = "category" placeholder="Добавить категорию проекта">-->

    <label for = "action">Действие для проекта:</label>
    <input type="text" class="input-group" id = "action" formControlName="action" placeholder="Добавить действие для проекта">

    <div *ngIf="formProjects.get('action').invalid && formProjects.get('action').touched" class="validation">
      <small *ngIf="formProjects.get('action').errors.required">Введите действие для проекта</small>
    </div>
      </div>

    <button
      type="submit"
      class="btn btn-block footer btn_add"
    >Добавить</button>
  </form>


<ng-template #noProjects>
  <p class="text-center nodata  ">Действий по проектам пока нет...</p>
</ng-template>
  </div>

  <app-add-user-categories></app-add-user-categories>
</div>
