
.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.section
{
  min-height: 100px;
  border-radius: 6px;

  background: rgba(255, 255, 255, 0.88);
  margin: 1rem;
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: column;
}

.section_header
{
  //background-color:#dabbbb63;
  //background-color: rgba(215,183,187,0.7);
  background-color: rgb(211 180 185 / 63%);
  //box-shadow: inset 0px -14px 13px 0px rgba(0, 0, 0, 0.22);
  //box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.22);
  //border-radius: inherit;
  font-weight: bold;
  //padding: 1.0rem 2rem 1.0rem 2rem;
  padding: 0.5rem 2rem 0.5rem 2rem;


  //background-color: rgb(232 206 224 / 50%);
  //background-color: #d4adc257;
  //box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.22);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //margin-bottom: 1rem;

}

.section_body
{
  flex: 1;
  display: flex;
  flex-direction: column;

}

form{
  flex:1;
  display: flex;
  flex-direction: column;


  position: relative;

}
.form{
  margin-bottom: 5rem;
}
.footer
{
  position: absolute;
  bottom: 0;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 99%; /* Ширина таблицы */
  //width: 100%; /* Ширина таблицы */
  //border-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.22);
  text-align: center;
  //border-collapse: collapse; /* Отображать только одинарные линии */
  //margin-bottom: 1.2rem;
  margin-bottom: 0.4rem;
}
th {
  padding: 15px; /* Поля вокруг содержимого ячеек */
  text-align: center;
  //text-align: left;
}
td {
  padding: 10px; /* Поля вокруг содержимого ячеек */
  color: black;
  min-width: 6rem;
  border-top: 1px solid #e8e9eb;
}

tr:hover .mi-del
{
  color: rgba(0,0,0,0.63);
  cursor: pointer;
}


//table {
//  //width: 100%;
//  border: 0px;
//  border-collapse: collapse;}
//table thead {font-weight: bold;}
//table td {padding: 0.6rem 1rem; }

@media screen and (max-width: 800px) {
  table{
    border-radius: 0;
  }
  table thead {
    display: none;
  }
  table tr {
    //display: block;
    //margin-bottom: 1rem;
    border-bottom: 2px solid #e8e9eb;
  }
  table td {
    display: block;
    //float: right;
    text-align: right;
    //padding-left: 1rem;
    //min-height: 1rem;
    padding-left: 12rem;
    //width: 51%;
    min-height: 4rem;
  }
  table td:before {
    content: attr(aria-label);
    float: left;
    font-weight: bold;
    text-align: left;
    width: 10rem;
    margin-left: -11rem;
  }
}

.btn_add{
  //border-radius: 15px;
  border-radius: 13px;
 }

button{
  //background-color: rgb(229,207,220)
  background-color: #d4adc257;

}

.btn-remove
{
  background-color: rgb(0,0,0,0.0);
  //padding-left: 0;
  margin-left: 0;
}

.btn:hover
{
  //background-color: rgba(202, 88, 58, 0.75);
  background-color: rgba(119,45,91,0.41);
}


mat-form-field
{
    width: 100%;
}

.material-icons
{
  color: rgba(0,0,0,0.63);
  border-radius: 1rem;
}

.mi-del
{
  //color: rgba(0,0,0,0.3);
  color: rgba(0,0,0,0);
  //font-size: x-large;
}

//.mi-del:hover
//{
//  color: rgba(0,0,0,0.63);
//}



a
{
  color: white;
}
a:hover
{
  //background-color: rgba(245,59,186,0.41);
  background-color: var(--transparent_pink);
  text-decoration: none;
}

input{
  width: 100%;
  margin-bottom: 1rem;
}

.required{
  margin: -0.5rem;
}

.nodata{
  margin: 1rem;
}
