
.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.section
{
  min-height: 100px;
  border-radius: 6px;

  background: rgba(255, 255, 255, 0.88);
  margin: 1rem;
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: column;
}

.section_header
{
  background-color: rgb(211 180 185 / 63%);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.22);
  font-weight: bold;
  padding: 0.5rem 2rem 0.5rem 2rem;



  display: flex;
  flex-direction: row;
  justify-content: space-between;
  //margin-bottom: 1rem;

}

.section_body
{
  flex: 1;
  display: flex;
  flex-direction: column;

}

form{
  flex:1;
  display: flex;
  flex-direction: column;


  position: relative;

}
.form{
  margin-bottom: 5rem;
}
.footer
{
  position: absolute;
  bottom: 0;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 99%; /* Ширина таблицы */
  //width: 100%; /* Ширина таблицы */
  //border-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.22);
  text-align: center;
  //border-collapse: collapse; /* Отображать только одинарные линии */
  //margin-bottom: 1.2rem;
  margin-bottom: 0.4rem;
}
th {
  padding: 15px; /* Поля вокруг содержимого ячеек */
  text-align: center;
  //text-align: left;
}
td {
  padding: 10px; /* Поля вокруг содержимого ячеек */
  color: black;
  min-width: 6rem;
  border-top: 1px solid #e8e9eb;
}

tr:hover .mi-del
{
  color: rgba(0,0,0,0.63);
  cursor: pointer;
}


@media screen and (max-width: 800px) {
  table{
    border-radius: 0;
  }
  table thead {
    display: none;
  }
  table tr {

    border-bottom: 2px solid #e8e9eb;
  }
  table td {
    display: block;
    //float: right;
    text-align: right;
    padding-left: 12rem;

    min-height: 4rem;
  }
  table td:before {
    content: attr(aria-label);
    float: left;
    font-weight: bold;
    text-align: left;
    width: 10rem;
    margin-left: -11rem;
  }
}

.btn_add{

  background-color: rgb(211 180 185 / 63%);
  border-radius: inherit;

 }

.btn:hover
{

  background-color: rgb(211 180 185 / 100%);
}


button{

  background-color: #d4adc257;

}

.btn-remove
{
  background-color: rgb(0,0,0,0.0);
  margin-left: 0;
}



mat-form-field
{
    width: 100%;
}

.material-icons
{
  color: rgba(0,0,0,0.63);
  border-radius: 1rem;
}

.mi-del
{

  color: rgba(0,0,0,0);

}

a
{
  color: white;
}
a:hover
{
  //background-color: rgba(245,59,186,0.41);
  background-color: var(--transparent_pink);
  text-decoration: none;
}

input{
  width: 100%;
  margin-bottom: 1rem;
}

.required{
  margin: -0.5rem;
}

.nodata{
  margin: 1rem;
}
