
.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.section
{
  min-height: 100px;
  border-radius: 20px;


  //background: rgba(255, 255, 255, 0.78);
  background: rgba(255, 255, 255, 0.5);


  margin: 1rem;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  //max-width: 750px;
  margin-left: auto;
  margin-right: auto;

  display: flex;
  flex-direction: column;
}


.section_button
{
  border-radius: inherit;
  //margin-right: 1rem;
  //background: inherit;
}

.section_header
{

  border-radius: inherit;
  font-weight: bold;
  padding: 1.3rem 2rem 1.3rem 2rem;

  //background: #ca583a;
  //background-color: rgba(255,96,189,0.41);
  background-color: rgba(233, 146, 206, 0.1);


  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.section_body
{
  flex: 1;
  display: flex;
  flex-direction: column;

}

form{
  flex:1;
  display: flex;
  flex-direction: column;


  position: relative;

}
.form{
  margin-bottom: 5rem;
}
.footer
{
  position: absolute;
  bottom: 0;
}

table {
  //margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 97%; /* Ширина таблицы */
  //border: 1px solid white; /* Рамка вокруг таблицы */
  border-radius: 20px;
  //box-shadow: 0 0 0 1px white; // 1
  //box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  box-shadow: 0 0 10px rgba(0,0,0,0.25), 0 0 0 rgba(0,0,0,0.22);
  text-align: center;
  //border-collapse: collapse; /* Отображать только одинарные линии */
  //background-color:  rgba(229,207,220, 0.7);
  //background-color:  rgb(229,207,220);
  //background-color: white;
  //padding: 5px;
  //margin-left: 1rem;
  background: rgba(255, 255, 255, 0.2);
  margin-bottom: 4rem;
}
th {
  //text-align: left; /* Выравнивание по левому краю */
  //background: #ca583a; /* Цвет фона ячеек */
  //background-color: rgba(119,45,91,0.41);
  padding: 15px; /* Поля вокруг содержимого ячеек */
  //border: 1px solid white; /* Граница вокруг ячеек */
  text-align: center;
}
td {
  padding: 15px; /* Поля вокруг содержимого ячеек */
  //border: 1px solid white; /* Граница вокруг ячеек */
  //color: white;
  color: black;
}


.btn_add{
 width: 102.75%;
  margin-left: -1.25rem;
 }

button{
  //background: #ca583a;
  //background-color: rgba(245,59,186,0.41);

  background-color: rgb(229,207,220)
}

.btn-remove
{
  background-color: rgb(0,0,0,0.0);
  //padding-left: 0;
  margin-left: 0;
}

.btn:hover
{
  //background-color: rgba(202, 88, 58, 0.75);
  background-color: rgba(119,45,91,0.41);
}


mat-form-field
{
    width: 100%;
}

.material-icons
{
  //color: black;
  //color: rgba(245,59,186,0.41);
  color: rgba(0,0,0,0.63);
  border-radius: inherit;
}

.mi-del
{
  //color: rgba(0,0,0,0.3);
  color: rgba(0,0,0,0);
  font-size: x-large;
  //margin: 0;
  //padding: 0;
}
//.mi-del:hover
//{
//  color: rgba(0,0,0,0.63);
//}

tr:hover .mi-del
{
  color: rgba(0,0,0,0.63);
  cursor: pointer;
}


a
{
  color: white;
}
a:hover
{
  //background-color: rgba(245,59,186,0.41);
//background-color: var(--transparent_pink);
background-color: var(--hover_pink);
  text-decoration: none;
}

input{
  width: 100%;
  margin-bottom: 1rem;
}

.nodata{
  font-size: larger;
}


