
<div class = "section">
  <div class="section_header">
    Информация по проектам
    <div class="section_button">
      <a class="medium material-icons">add</a>
    </div>
  </div>
  <table *ngIf="projects.length; else noProjects">
    <thead>
    <tr>
      <th>№</th>
      <th>Название проекта</th>
      <th>Категория проекта</th>
      <th>Действия по проекту</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let project of projects; let i = index">
      <td> <strong>{{i + 1}}</strong></td>
      <td>{{project.title}}</td>
      <td>{{project.category}}</td>
      <td>{{project.action}}</td>

      <button class="btn" (click)="remove(project, 'project')">Удалить</button>
    </tr>
    </tbody>
  </table>

  <!--
    <mat-form-field appearance="fill">
      <mat-label>Выбери настроение</mat-label>
      <mat-select>
        <mat-option *ngFor="let one_category of projectCategories" >
          {{one_category.p_category}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  -->


  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Выбери тему для проекта</mat-label>
      <label>
        <input type="text" matInput [formControl]="myControl_c" [matAutocomplete]="auto">
      </label>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredCategories | async" [value]="option.p_category">
          {{option.p_category}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>


  <form (ngSubmit)="submit_P()" [formGroup]="formProjects">
    <input type="text" class="input-group" formControlName="title" placeholder="Добавить название проекта">
    <input type="text" class="input-group" formControlName="category" placeholder="Добавить категорию проекта">
    <input type="text" class="input-group" formControlName="action" placeholder="Добавить действие для проекта">
    <button
      type="submit"
      class="btn btn-block"
    >Add</button>
  </form>


</div>

<div class = "section">
  <div class="section_header">
    Прочее
    <div class="section_button">
      <a class="medium material-icons">add</a>
    </div>
  </div>
</div>
