/* You can add global styles to this file, and also import other style files */
*{
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
  font-size: 1.5rem;
  //color: white;
  text-align: left;
  //background-color: #fff;
  overflow-x: scroll;
  background-attachment: fixed;
  //background-image: url("sources/18449077.jpg");
  //background-image: url("assets/pattern_278_1605108478133.png");
  //background-image: url("assets/pattern_268_1605108821909.png");
  //background-image: url("assets/pattern_245_1605109031404.png");
  //background-image: url("assets/pattern_235_1605109091450.png");
  //background-image: url("assets/pattern_218_1605109155841.png");
  //background-image: url("assets/pattern_276_1605109586843.png");
  //background-image: url("assets/tiles-shapes-2617112_1920.jpg");
  //background-image: url("assets/bokeh-2072271_1920.jpg");
  //background-image: url("assets/flamingo-5527232_1920.jpg");
  //background-image: url("assets/landscape-4258253_1920.jpg");

  background-image: url("assets/pasqueflower-3066824_1920.jpg");
  //background-image: url("assets/pink-1311251_1920.jpg");
  //background-image: url("assets/snowfall-201496_1920.jpg");
  //background-image: url("assets/tiles-shapes-2617112_1920.jpg");



}


:root {
  --hover_pink:  rgba(119,45,91,0.41);
  --transparent_pink: rgba(229,207,220, 0.7);
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}


