<div class = "section">

  <div class="section_header">
    Настроение за день
    <div class="section_button">
      <a class="material-icons" (click)="click()">add</a>
    </div>
  </div>

  <div class="section_body">
    <ng-template #dontclicked>
    <table  *ngIf="moods.length; else noMoods">
      <thead>
        <tr>
          <th>№</th>
          <th>Текущее настроение</th>
          <th>Дата </th>
          <th>Причина</th>
          <th>Как можно исправить (плохое настроение)</th>

        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let mood of moods; let i = index">
         <td aria-label="№"><strong>{{i + 1}}</strong></td>
          <td aria-label="Текущее настроение">{{mood.cur_mood}}</td>
          <td aria-label="Дата">{{mood.date}}</td>
          <td aria-label="Причина">{{mood.reason}}</td>
          <td aria-label="Как можно исправить (плохое настроение)">{{mood.what_to_do}}</td>
         <td aria-label="Удалить"><span class="material-icons mi-del" (click)="remove(mood, 'moods')">delete</span></td>
        </tr>
      </tbody>

    </table>
    </ng-template>

<!--    <div class = "form">-->

    <form *ngIf="is_clicked; else dontclicked" (ngSubmit)="submit()" [formGroup]="formMoods">
      <div class="form container">

        <label for = "cur_mood">Текущее настроение:</label>
        <input type="text" placeholder="Выбери настроение" id = "cur_mood" formControlName="cur_mood" [matAutocomplete]="auto">

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredCategories | async" [value]="option.category">
            {{option.category}}
          </mat-option>
        </mat-autocomplete>
      <!--      <input type="text" class="input-group" formControlName="cur_mood" placeholder="Добавить настроение">-->
<!--      <p></p>-->
      <label for = "reason">Добавить причину настроения:</label>
      <input type="text" class="input-group" id = "reason" formControlName="reason" placeholder="Добавить причину настроения">

      <label for = "what_to_do">Как можно исправить (плохое настроение):</label>
      <input type="text" class="input-group" id = "what_to_do" formControlName="what_to_do" placeholder="Действия в данной ситуации">
      </div>
      <button
        type="submit"
        class="btn btn-block btn_add footer"
      >Добавить</button>

    </form>


    <ng-template #noMoods>
      <p class="text-center nodata">Настроение пока не выбрано..</p>
    </ng-template>

  </div>

  </div>
